[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
pyyaml = "*"
boto3 = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
